<div class="container">
    <div class="detalles_container">
        <p class="title">{{nombreProducto}} </p>
        <p class="marca">{{marca_producto}} </p>
        <p class="cantidad">CANTIDAD: <span>{{cantidadSku}} </span>unidades por caja </p>
        <p class="descripcion">{{descripcion}} </p>
        <div class="btn_container">
            <button class="closebtn" [routerLink]="['/administracion']">Cerrar</button>
        </div>
        <button class="closebtn" [routerLink]="['/administracion']">Cerrar</button>
        <button class="secondClose" [routerLink]="['/administracion']"><img class="icon close" [src]="closeImg" alt="close Icon"></button>
    </div>
</div>