<div class="add_container">
    <div class="add_elements">
        <h1 class="title">Agregar Producto</h1>
        <form class="form" #f="ngForm" (submit)="addProducto(f)">
            <!-- <input type="hidden" [(ngModel)]="index" name="inputOb" value="0"> -->
            <label for="nombreProducto" class="label">Nombre del Producto:</label>
            <input type="text" class="input" name="nombreProducto" [(ngModel)]="nombre"
                placeholder="Introduce el Nombre del Producto" maxlength="70" required>
            <label for="marcaProducto" class="label">Marca del Producto:</label>
            <input type="text" class="input" name="marcaProducto" [(ngModel)]="marca"
                placeholder="Introduce la marca del Producto" maxlength="50" required>
            <label for="descripcion" class="label">Descripción del producto: </label>
            <textarea class="txtarea" name="descripcion" id="" maxlength="150" [(ngModel)]="descripcion"
                placeholder="Descripción del producto" required></textarea>
            <div class="btns_container">
                <button class="btn guardar" type="submit">Guardar</button>
                <button class="btn cancelar" [routerLink]="['/productos']">Cancelar</button>
            </div>
        </form>
        @if (alerta) {
        <div class="alert_container">
            <div class="alert_elements">
                <img class="icon warning" [src]="warningImg" alt="Warning Icon">
                <button class="btn cerrarb" (click)="toggleAlerta()"><img class="icon close" [src]="closeImg" alt="Warning Icon"></button>
                <p class="alert-title">
                    Inserte correctamente todos los datos
                </p>
            </div>
        </div>
        }


    </div>
</div>