@import '../styles.scss';

.container_app{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container_components{
    background-color: $dark_color;
    display: flex;
    max-width: 120rem;
    width: 95%;
    height:70rem;
    border-radius: 8px;
}

.vista{
    width: 100%;
    margin: 2rem 3rem;
}

@include limitTablet{
    .vista{
    }
    .container_app{
        display: block;
    }

    .container_components{
        display: flex;
        max-width: 100%;
        width: 100%;
        height: 100vh;
        border-radius: 0;
    }
}


@include telefonoLimit{
    .vista{
        margin: 0;
    }
    .container_components{
        flex-direction: column;
    }
}
