<div class="options_elements">
    <a class="links_options" [routerLink]="['/administracion']">
        <img class="icon inventory" [src]="inventoryImg" alt="Icono inventario">
        SKUS
    </a>
    <a class="links_options" href="#" [routerLink]="['/productos']">
        <img class="icon product" [src]="productImg" alt="Icono Producto">
        PRODUCTOS
    </a>
    <div class="social_container">
        <a [href]="gitLink" target="_blank" rel="noreferrer noopener"><img class="imgSocial" [src]="gitHubImg" alt="Icono Github"></a>
        <a [href]="linkedinLink" target="_blank" rel="noreferrer noopener"><img class="imgSocial" [src]="linkedinImg" alt="Icono Linkedin" ></a>
    </div>
</div>